:root{
	--bg-color:#e0e0e0;
	--text-color:#1d1d1d;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-family: 'Montserrat', sans-serif;
	background-color: var(--bg-color);
	color: var(--text-color);
}

.header__container{
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;	
	background-color: #137c32;
	top: 0;
}


button{
	color: #fff;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: flex;
	margin:0 10px;
}

.darkb{
	color: #222;
}


.par{
	margin-left: 5px;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 60px auto 100px auto;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}



@media screen and (max-width:540px) {
	.contenedor {
		width: 70%;
		grid-template-columns: repeat(1, 1fr);
	}	
	.contenedor .pelicula .poster {
		margin-bottom: 10px;
		border-radius: 15px;
	}
	
}

.contenedor .pelicula {
	text-align: center;
}

.contenedor .pelicula .titulo {
		font-size: 20px;
		font-weight: 1000;
	}

.contenedor .pelicula .poster {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 15px;
}

.paginacion {
	position: fixed;
	bottom: 0;
	background: #100a1f;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
}

.paginacion button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 50px;
	width: 200px;
	background: #241744;
	color: #fff;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
}

.paginacion button:hover {
	background: #137c32;
}